{% extends 'base.html.twig' %}

{# {% block title %}  {{ 'Edit pin' ~ pin.id }}  {% endblock %} #}
{% block title 'Edit pin #' ~ pin.id %} 


{% block body %}
  {# <h1>{{ Edit pin ~ pin.id }}</h1> #}
  <h1>{{ 'Edit pin #' ~ pin.id }}</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }} 
   

    <input type="submit" value="Update Pin" formnovalidate>
  {{ form_end(form) }}

{% endblock %}
