{% extends 'layouts/base.html.twig' %}

{% block title %}Find best pins{% endblock %}

{% block body %}
{% if pins|length > 0%}
<h1 class="mt-5 mb-3 text-center text-muted">{{ pluralize(pins|length, 'Pin') }}</h1>
{% for row in pins|batch(3) %} 
  <div class="row mb-5">
    {% for pin in row %} 
    <div class="col-md-4">
      <article class="pin bg-white rounded shadow">
      <div class="mw-100 rounded-top overflow-hidden hover-zoom">
      <a href="{{ path('app_pins_show', {id: pin.id}) }}">
        <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/image/placeholder.jpg')) | imagine_filter('square_thumbnail_medium') }}" alt="{{ pin.title}}" class="w-100">
      </a>   
      </div>
        <h2 class="pt-3 ps-3 h4"><a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-decoration-none  text-secondary">{{ pin.title }}</a></h2>
        <p class="pb-3 ps-3 text-muted"><small>Submitted by {{pin.user.fullName}}</small></p>
         <p class="ps-3 pb-3">{{pin.description}}</p>
      </article>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
{% else %}
  <p class="h2 mt-5 text-center text-muted">No pins yet.<a href="{{path('app_pins_create')}}" class="d-block text-decoration-none"> Make one and be the first!</a></p>
{% endif %}

{% endblock %}
